<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>backbone.js example</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <script type="text/template" id="todo-template">
        <li><% if (todo.done) { %> <strike> <% } %> <%= todo.text %> <% if (todo.done) { %> </strike> <% } %> </li>
    </script>

    <div id="app">
        <div id="list">
            <ul id="todos">
            </ul>
        </div>

        <input type="text" id="input" placeholder="할일" />
    </div>

    <script src="scripts/main.js"></script>
</body>
</html>
